# Environmental variables
.env

# static files like css, js, images, etc.
/static/assets/data/*
/static/assets/img/*
/static/assets/js/*
/static/assets/scss/*
/static/assets/webfonts/*
/static/assets/fonts/*
/static/assets/css/*
/static/assets/plugins/*

1.py
broken*
missing*.json
old_submissions.py
runtime.svg
test_run_thing.py
lootboard/themes/*
bot_state.py
lb_gen.py
player_board.py



/data/logs/*

# templates
/templates/*

# schema migration configuration
alembic.ini 
alembic/versions/*

# General project excludes
*.cpython*
*.mako
*.pxi
*.pyi
*.pyx
venv/*
utils/sheets/*
email_*.html
*.zip
discord_login.py
*.png
data/items.json
debug.log
invalid_npcs.txt
main_backup1.py
xf_acc_conversion.py
xf_drop_conversion.py
db/drop_mem.py
templates/base.html
templates/index.html
templates/group/config.html
games/events/task_store/temp.py
games/events/task_store/temp1.py
games/events/task_store/old2.json
games/events/task_store/old.json
games/events/task_store/default_old.json
games/events/BoardGame.md
events.log
games/gielinor_race/tasks.json
.commands.py.swp
data/lootboard/
data/out/
incorrect_entries.json
item_export.py
lb_gen.py
lb_static_gen.py
static/assets/exports/
temp.py
worker.py
*.png
comp_test.py
