# Environmental variables
.env

# static files like css, js, images, etc.
/static/assets/data/*
/static/assets/img/*
/static/assets/js/*
/static/assets/scss/*
/static/assets/webfonts/*
/static/assets/fonts/*
/static/assets/css/*
/static/assets/plugins/*

# templates
/templates/*

# schema migration configuration
alembic.ini 
alembic/versions/*

# General project excludes
*.cpython*
*.mako
*.pxi
*.pyi
*.pyx
venv/*
utils/sheets/*
email_*.html
*.zip
discord_login.py
*.png
data/items.json
debug.log
invalid_npcs.txt
main_backup1.py
xf_acc_conversion.py
xf_drop_conversion.py
db/drop_mem.py
templates/base.html
templates/index.html
templates/group/config.html
games/events/task_store/temp.py
games/events/task_store/temp1.py
games/events/task_store/old2.json
games/events/task_store/old.json
games/events/task_store/default_old.json
games/events/BoardGame.md
