<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <title>{{ page_name }} | DropTracker.io | OSRS Loot Leaderboards, Metrics & Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    
    <!-- Block for dynamic CSS -->
    {% block css %}
    {% endblock %}
    
    <!-- Core CSS -->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="{{ url_for('static', filename='assets/css/vendor.min.css') }}" rel="stylesheet">
    <link href="/static/assets/css/app.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="/static/assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="/static/assets/css/vendor.min.css" rel="stylesheet" />
    <link href="/static/assets/css/default/app.min.css" rel="stylesheet" />

    <!-- Page-specific CSS -->
    <link href="{{ url_for('static', filename='assets/plugins/jvectormap-next/jquery-jvectormap.css') }}" rel="stylesheet">
    
    <!-- Open Graph and Twitter Card tags -->
    {% block meta %}
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@droptrackerio" />
		<meta name="twitter:title" content="DropTracker.io | OSRS Drop Leaderboards & Events" />
		<meta name="twitter:description" content="Track your OSRS drops automatically, compete in elaborate tile-based events and much more!" />
		<meta name="twitter:image" content="https://www.droptracker.io/img/card-icon.png" />
    {% endblock %}

    <!-- Add jQuery UI CSS -->
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
</head>
<body>
    <div id="app" class="app">
        <!-- Include the header component -->
        {% include 'components/header.html' %}

        <!-- Include the sidebar component -->
        {% include 'components/sidebar.html' %}

        <div id="content" class="app-content">
            <div class="toasts-container"></div>
            {% if toast_title %}
                <div class="modal mt-5" id="toastModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ toast_title|safe }}</h5>
                                {% if unclosable %}
                                {% else %}
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                
                                {% endif %}
                            </div>
                            <div class="modal-body">
                                <p>{{ toast_text|safe }}</p>
                            </div>
                            <div class="modal-footer">
                                {% if unclosable %}
                                <small>The website is currently disabled</small>
                                {% else %}
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                                
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        var toastModal = new bootstrap.Modal(document.getElementById('toastModal'));
                        toastModal.show();
                    });
                </script>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>

        <!-- Include the footer component -->
        {% include 'components/footer.html' %}
    </div>

    <!-- Core JS -->
    <script src="{{ url_for('static', filename='assets/js/vendor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/app.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Page-specific JS -->
    <script src="{{ url_for('static', filename='assets/plugins/jvectormap-next/jquery-jvectormap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jvectormap-content/world-mill.js') }}"></script>

    <!-- Add jQuery UI JS -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Block for dynamic JS -->
    
    {% block js %}{% endblock %}
</body>
</html>
